{% extends 'chat/base.html' %}
{% block tab_title %}Общий чат{% endblock %}

{% block content %}
    <h2> Пользователь: {{ user.username }} </h2>
    <p><a href="{% url 'logout' %}">выйти</a></p>
    <p id="pagination"> </p>
    <div id="chat-window" style="height: 700px;overflow-y: scroll;">
    
    </div>
    <p>
        <input id="chat-message-input" type="text" size="100">
        <input id="chat-message-submit" type="button" value="Отправить">
    </p>
    <p>
        <input type="checkbox" id="delayed">
        Опубликовать после: 
        <input type="date" id="pub-date" value="{{ cur_date }}" min="{{ cur_date }}" > 
        <input type="time" id="pub-time" value="{{ cur_time }}">
    </p>
    <script>
        let curPage = 1;

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatWindow = document.querySelector('#chat-window');
            chatWindow.innerHTML += (data.message + '\n');
            chatWindow.scrollTo(0, chatWindow.scrollHeight);
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = e => {
            const messageInputDom = document.querySelector('#chat-message-input');
            const delayed = document.querySelector('#delayed').checked;
            const message = messageInputDom.value;
            const data = {'message': message};

            if(delayed){
                const pubDate = document.querySelector('#pub-date').value;
                const pubTime = document.querySelector('#pub-time').value;
                data.pub_datetime = pubDate + " " + pubTime;
            }
            chatSocket.send(JSON.stringify(data));
            if(curPage != 1){
                loadMessages("{% url "messages" %}?page=1");
            }
            messageInputDom.value = '';
        };


        window.addEventListener('DOMContentLoaded', (event) => loadMessages('{% url "messages" %}'));

        function loadMessages(url){
            fetch(url)
            .then(response => response.json())
            .then(data => printMessages(data));
        }

        function printMessages(data){
            const messages = data.results.reverse();
            const chatWindow = document.querySelector('#chat-window');
            let messagesHtml = '';
            messages.forEach((item, index, array) => {
                messagesHtml += "<p><b>" + item.username + "</b><br>"
                messagesHtml += "<b>" + item.post_time + " > </b>"
                messagesHtml += item.message + "</p>"
            });
            chatWindow.innerHTML = messagesHtml;
            printPagination(data.count);
        }

        function printPagination(messages_count){
            const page_size = {{ page_size }}
            if(messages_count <= page_size){
                return;
            }
            let pageCount = parseInt(messages_count/page_size);
            if((messages_count % page_size) > 0)
                pageCount++
            const paginationDom = document.querySelector('#pagination');
            paginationDom.innerHTML = '';
            for(let i = 1; i <= pageCount; i++){
                let page_link = document.createElement('a');
                page_link.href = '{% url "messages" %}?page=' + i;
                page_link.innerHTML = i;
                paginationDom.appendChild(page_link);
                paginationDom.innerHTML += "<span>&nbsp;&nbsp;</span>"
            }
        }

        document.querySelector('#pagination').onclick = e => {
            if(e.target.nodeName != 'A')
                return;
            loadMessages(e.target.href);
            curPage = e.target.href.slice(-1);
            return false;
            
        }

    </script>

{% endblock %}